.typing-animation {
        color: #d4d4d4;
        padding: 1rem;
        border-radius: 8px;
        font-family: monospace;
        min-height: 120px;
        margin: 0 !important;
        transform: perspective(1000px) rotateX(5deg) rotateY(-20deg);
        transition: transform 0.3s ease;
        width: 55%;
        height: 100%;
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: none;
        
        &::-webkit-scrollbar {
            display: none;
        }
        
        code {
            overflow-x: hidden;
            font-size: 16px;
        }
    }